$dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$cyan: hsl(170, 45%, 43%);
$bright-blue: hsl(224, 93%, 58%);
$grey-blue: hsl(240, 75%, 98%);
$grey: hsl(0, 0%, 75%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-size: 16px;
}

h1 {
  font-family: Raleway;
  color: $dark-blue;
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

h2 {
  font-family: Raleway;
  color: $dark-blue;
  margin-bottom: 2rem;
}
li {
  list-style: none;
}
p {
  font-family: "Open Sans";
  color: $dark-blue;
  line-height: 1.5;
}

header.header {
  padding: 20px;
  p {
    line-height: 1.5;
  }
  input {
    margin-top: 3rem;
  }
}

input {
  height: 50px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 1rem;
  &::placeholder {
    color: $grey;
  }
}
button {
  height: 50px;
  background: $bright-blue;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  p {
    color: white;
  }
}
.navbar {
  img {
    height: 40px;
    width: auto;
  }
  li {
    display: inline-block;
    margin-left: 20px;
  }
  .flex-right {
    flex-basis: 80%;
    align-items: center;
  }
}
section.top-content {
  img {
    width: 100%;
  }
}
.middle-section {
  padding-bottom: 8rem !important;
  padding-top: 10rem !important;
  p {
    margin-bottom: 1.5rem;
  }
}

.see-how {
  position: relative;
  border-bottom: 2px solid $cyan;
  width: 180px;
  margin: 0 auto;
  cursor: pointer;
  p {
    color: $cyan;
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  img {
    width: 20px !important;
    position: relative;
    top: 5px;
  }
}
.testimonial {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  text-align: left;
  margin: 4rem auto 0;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  p {
    font-family: Raleway;
    font-weight: 700;
    line-height: 1.8;
  }
  img {
    width: 20px !important;
    float: left;
  }
  picture {
    margin-bottom: 10px;
  }
  & .flex-container {
    img {
      border-radius: 4rem;
      width: 40px !important;
    }
    .flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .flex:nth-of-type(2) {
      flex-basis: 90%;
      margin-left: 10px;
      p {
        margin-bottom: 0;
        &:nth-of-type(2) {
          font-size: 0.75rem;
          color: $desaturated-blue;
        }
      }
    }
  }
}
// Reusable
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.flex-container {
  display: flex;
}

.flex {
  flex: 1;
}

.flex-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.middle-section {
  background: url("../images/bg-curve-mobile.svg") no-repeat;
  background-size: cover;
  background-position: top center;
  margin-top: 10rem;
  padding: 20px;
  img {
    width: 100%;
  }
}

section.bottom-section {
  background: $desaturated-blue;
  padding: 4rem 2rem;
  h2 {
    color: $grey-blue;
  }
  p {
    color: $grey-blue;
  }
  .flex {
    &:nth-of-type(1) {
      margin-bottom: 2rem;
    }
    &:nth-of-type(2) {
      width: 80%;
      margin: 0 auto;
    }
  }
}

footer.footer {
  text-align: left;
  background: $dark-blue;
  padding: 4rem 2rem;
  .logo {
    margin-bottom: 2rem;
  }
  a {
    text-decoration: none;
  }
  p {
    color: $grey-blue;
  }
  li {
    margin-bottom: 1rem;
    position: relative;
    img {
      margin-right: 1rem;
    }
    p {
      display: inline-block;

      position: relative;
      top: -2px;
    }
  }
  ul {
    margin-bottom: 3rem;
  }
}
.icon-container {
  width: 120px;
  margin: 0 auto;
  li {
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 4rem;
    width: 30px;
    height: 30px;
    position: relative;
    margin: 3px;
  }
}
i {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

// End of reusable

@media only screen and (min-width: 1052px) {
  body {
    text-align: left;
  }
  h2 {
    font-size: 2.3rem;
  }
  .top-content {
    margin-top: 5rem;
    .bg-image {
      padding-left: 6rem;
    }
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
  }
  .flex-container-desktop {
    display: flex;
  }
  .flex-reverse {
    flex-direction: row-reverse;
  }
  .flex-reverse {
    flex-direction: row-reverse;
  }
  header.header {
    padding: 4rem;
  }
  .middle-section {
    padding: 10rem 7.5%;
  }
  .middle-bg-image {
    padding-left: 6rem;
  }
  .email-field {
    margin-top: 1rem;
    input {
      margin: 0 !important;
    }
    align-items: center;
    .flex {
      &:nth-of-type(1) {
        flex-basis: 60%;
        margin-right: 5%;
      }
      &:nth-of-type(2) {
        flex-basis: 40%;
      }
    }
  }
  .see-how {
    margin-right: 100%;
  }
  .testimonial {
    margin: 4rem 0 0;
    width: 70%;
    max-width: 450px;
  }
}
